body{
	height: 100%;
	background-color:#FFF;
	background-repeat: no-repeat;
}

#dashboard-logo{
	height: 20px;
}

table {
    border-collapse: collapse;
}

.table-nonfluid {
   width: auto !important;
}

tr {
	border: none;
}

td {
  border-left: solid 1px #000000;
}

th {
    background-color: #9B9B9B;
    color: white;
}