body{
	height: 100%;
	background-color:#FFF;
	background:url(images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#dashboard-logo{
	height: 20px;
}

table {
    border-collapse: collapse;
}

.table-nonfluid {
   width: auto !important;
}

tr {
	border: none;
}

td {
  border-left: solid 1px #000000;
}

th {
    background-color: #9B9B9B;
    color: white;
}

.page-header{
	color: #FFF;
}

#grades-table{
	background-color: #FFF;
	opacity: 0.9;
}

#presention{
	background-color: #FFF;
	opacity: 0.9;
}

#classlist{
	background-color: #FFF;
	opacity: 0.9;
}

#profile{
	background-color: #FFF;
	opacity: 0.9;
}

#myForm{
	color: #FFF;
}

#email-table{
	background-color: #FFF;
	opacity: 0.9;
}